header {
  display: flex;
  min-height: 95px;
  padding: 0 50px;
  background-color: #fff;

  .header-wrapper {
    position: relative;
    width: 1352px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .header-service {
      display: flex;
      align-items: center;

      .header-logo {
        display: flex;
        margin-right: 50px;
      }

      .header-links {
        display: flex;
        align-items: center;
        gap: 8px;

        a {
          display: flex;
          align-items: center;
          gap: 8px;
          color: #000000;
          font-family: 'Raleway-SemiBold';
          text-decoration: none;
          padding: 10px;
          border-radius: 8px;
          font-size: 17px;

          svg {
            transition: 0.4s;
          }

          &:hover {
            background-color: #E5EDED;
            color: #5EAEAE;

            svg {
              transform: rotateX(180deg);

              path {
                stroke: #5EAEAE;
              }
            }
          }
        }
      }

      .service-subcontent {
        position: absolute;
        top: 0;
        margin-top: 5.5rem;
        width: 944px;
        max-width: 100%;
        border-radius: 12px;
        padding: 50px 60px;
        box-shadow: 0px 6px 80px 0px rgba(0, 0, 0, 0.12);
        background-color: #fff;
        z-index: 10;

        >div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .subcontent-block {
            display: flex;
            align-items: center;
            flex-basis: 393px;
            gap: 10px;
            padding: 12px;

            .service-desc {
              p {
                margin-bottom: 6px;
                font-size: 20px;
                font-family: 'Raleway-Bold';
              }

              span {
                font-size: 16px;
                font-family: 'Raleway-SemiBold';
                color: #525252;
              }
            }
          }
        }
      }
    }

    .header-info {
      display: flex;
      align-items: center;

      .header-contacts {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-right: 40px;

        address {
          p {
            font-family: 'Raleway-Bold';
            font-style: normal;
            font-size: 16px;
          }

          span {
            font-family: 'Raleway-Regular';
            color: #525252;
            font-size: 16px;
            font-style: normal;
          }
        }
      }

      button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        height: 46px;
        padding: 13px 20px;
        background-color: #5EAEAE;
        border-radius: 8px;
        border: none;
        color: #fff;
        font-family: 'Raleway-SemiBold';
        font-size: 16px;
        @include shake-animation('#dfefef')
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  header .header-wrapper {
    width: 1210px;
  }
}